  <p>Welcome to the jsHub core tag development application.</p>
	
	<h1>Code and tests</h1>
	
    <p>
      Download or <%= link_to 'view the jsHub source code', :controller => 'js', :action => 'show' %>. 
	</p>

    <p>
      Javascript unit test pages:
    </p>
    <ul>      
      <li>
        <%= link_to 'Test Page list', :controller => 'javascript_test' %>
      </li>
      <li>
        <%= link_to 'Test Page results', javascript_test_result_index_path %>
      </li>
      <li>
        <%= link_to 'Litmus server test runs', :controller => 'litmus_test_run' %>
      </li>
    </ul>
