<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>jsHub Help and Documentation</title>
  	<link href="../stylesheets/jshub.css" media="screen" rel="stylesheet" type="text/css" />
  	
    <!-- YUI Code Syntax Highlighter -->
    <link type="text/css" rel="stylesheet" href="../javascripts/syntaxhighlighter/styles/shCore.css"/>
    <link type="text/css" rel="stylesheet" href="../javascripts/syntaxhighlighter/styles/shThemeDefault.css"/>  
    <script type="text/javascript" src="../javascripts/syntaxhighlighter/scripts/shCore.js"></script>
    <script type="text/javascript" src="../javascripts/syntaxhighlighter/scripts/shBrushBash.js"></script>
    <script type="text/javascript" src="../javascripts/syntaxhighlighter/scripts/shBrushCpp.js"></script>
    <script type="text/javascript" src="../javascripts/syntaxhighlighter/scripts/shBrushCSharp.js"></script>
    <script type="text/javascript" src="../javascripts/syntaxhighlighter/scripts/shBrushCss.js"></script>
    <script type="text/javascript" src="../javascripts/syntaxhighlighter/scripts/shBrushDelphi.js"></script>
    <script type="text/javascript" src="../javascripts/syntaxhighlighter/scripts/shBrushDiff.js"></script>
    <script type="text/javascript" src="../javascripts/syntaxhighlighter/scripts/shBrushGroovy.js"></script>
    <script type="text/javascript" src="../javascripts/syntaxhighlighter/scripts/shBrushJava.js"></script>
    <script type="text/javascript" src="../javascripts/syntaxhighlighter/scripts/shBrushJScript.js"></script>
    <script type="text/javascript" src="../javascripts/syntaxhighlighter/scripts/shBrushPhp.js"></script>
    <script type="text/javascript" src="../javascripts/syntaxhighlighter/scripts/shBrushPlain.js"></script>
    <script type="text/javascript" src="../javascripts/syntaxhighlighter/scripts/shBrushPython.js"></script>
    <script type="text/javascript" src="../javascripts/syntaxhighlighter/scripts/shBrushRuby.js"></script>
    <script type="text/javascript" src="../javascripts/syntaxhighlighter/scripts/shBrushScala.js"></script>
    <script type="text/javascript" src="../javascripts/syntaxhighlighter/scripts/shBrushSql.js"></script>
    <script type="text/javascript" src="../javascripts/syntaxhighlighter/scripts/shBrushVb.js"></script>
    <script type="text/javascript" src="../javascripts/syntaxhighlighter/scripts/shBrushXml.js"></script>
    <script type="text/javascript">
      SyntaxHighlighter.config.clipboardSwf = 'javascripts/syntaxhighlighter/scripts/clipboard.swf';
      SyntaxHighlighter.defaults['class-name'] = 'syntaxhighlighted';
      SyntaxHighlighter.defaults['html-script'] = true;
      SyntaxHighlighter.all();
    </script>    
    	
  </head>
  <body class="jshub">

    <div id="banner">
      <div id="header">
        <a href="/core/" id="logo">
          <img alt="jsHub Logo" src="../images/jshub/logo_jshub_with_mark.png" />
        </a>
      </div>
    </div>

    {% include fork_me_on_github.html %}

    <div id="main">
      <div id="content">
        {{ content }}
      </div>
    </div>
    <div id="footer">      
    </div>

  </body>
</html>
