/* Stylesheet for the jsHub pages */
body {
  margin: 0 10px 10px 10px;
  font-family: Optima, Georgia, serif;
  font-size: 1em;
  font-style: normal;
  font-weight: lighter;
  color: #000;
  background: #e2e4e9 url("../images/jshub/bg_body.png") repeat-x;
}

li {
	padding-bottom: 3px;
}

img {
  border: 0px transparent solid;
}

hr { border: none;  border-top: 1px solid #ccb; margin: 2em 0 }

#banner {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  margin-bottom: -40px;
}

#content {
  position: relative;
  background-color: #fff;
  margin-left: 48px;
  margin-right: 48px;
  padding-left: 64px;
  padding-right: 64px;
  padding-bottom: 2em;
}

/* Navigation */
.nav h2, .nav hr { display: none }
.nav ul { font-size: 10px; list-style: none; margin: 0; text-align: right }
.nav li {
 border-right: 1px solid #d7d7d7;
 display: inline;
 padding: 0 .75em;
 white-space: nowrap;
}
.nav li.last { border-right: none }

/* Context-dependent navigation links */
#ctxtnav { 
  margin-left: 48px;
  margin-right: 48px;
  padding-top: 14px;
  padding-bottom: 4px;  
  height: 1em;
  font: normal 10px 'Tahoma',verdana,'Bitstream Vera Sans',helvetica,arial,sans-serif;
  font-weight: bold;
  color: #797979;  
}
#ctxtnav ul {
}
#ctxtnav li { }
#ctxtnav li :link, #ctxtnav li :visited { 
  color: inherit; 
  border: none;
}
#ctxtnav li :link:hover, #ctxtnav li :visited:hover {
 background: #bba;
 color: #fff;
}

.jshub h1, .jshub h2, .jshub h3 {
  font-family: 'Helvetica Neue', Helvetica, Verdana, Geneva, Arial, sans-serif;
  font-style: normal;
  font-weight: lighter;
}
.jshub h1 span.one {
  font-size: 1.2em;
  margin: 20px; 
  border-right: 1px solid #666; 
  padding-right: 20px;
}
.jshub h1 span.two {
  font-size: 0.8em;
  color: #666;
}

.jshub h1 a {
  text-decoration: none;
}

.jshub .js {
  color: #666;
}

.jshub .hub {
  color: #000;
}

.jshub li.total span {
  border-top: 1px solid #000;
}

/*
.jshub table, .jshub tr {
  border: 1px dotted #e1e1e1;
}

.jshub td {
  margin: 0px;
  padding: 3px;
}

.jshub th {
  text-align: left;
  margin: 0px;
  padding: 3px;
}

.jshub tr.row_odd {
  background-color: #dae0ff;
}
*/

.jshub div.fieldWithErrors {
  display: inline;
}

.jshub div.fieldWithErrors input {
  background-color: #fcc;
}

/* Tag configurator styles */
.rev_debug, .rev_production {
  display: none;
}

