    <div class="yui-gb header">
      <div id="logo" class="yui-u first">
          <%= link_to("Homepage", { :controller => 'tag_configurations', :action => "index" }, :class => "homepage") %>
      </div>
      <div class="yui-u">
        &nbsp;
      </div>

      <div class="yui-u">
        &nbsp;
      </div> 

    </div>