  <ul class="section_nav">
    <li><%= link_to 'Test Runs', :litmus_test_runs %></li>
    <li><%= link_to 'External Tests', :litmus_external_index %></li>
    <li><%= link_to 'Test Results', :javascript_test_result_index %></li>
  </ul>
  <br />